nav {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #00838F;
    font-family: Roboto;
}
a {
    padding: 20px;
    cursor: pointer;
}
h3 {
    padding: 0 20px;
}